*, *::after, *::before{
    box-sizing: border-box;

}

:root{
    --header: #2F3A8F;
    --back: #FEECE9;
}

body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    height: 100vh;
    background-color: #CCD1E4;
    background-repeat: no-repeat;
}

.container{
    margin: 5% auto;
    max-width: 700px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}

.row{
    flex-flow: row wrap;

}

.col{
    flex-direction: column;
}

.container__form{
    width: 80%;
    padding: 3%;
    background-color: var(--back);
    border-radius: 5px;
}

.btnSend{
    background-color: var(--header);
    color: var(--back);
    padding: 1%;
    border: none;
    border-radius: 5px;
}

.weather{
    margin: 3%;
    padding: 3%;
    width: 80%;
    background-color: var(--back);
    border-radius: 5px;
    display: flex;
    flex-direction: row;

}

.hidden{
    display:none;
}

.weather__info{
    width: 100%;
}

.weather__info__container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
}

.weather__info__container>*{
    margin-right: 5%;
}

.weather__info__container> h2,h3,p,img {
    margin: 0;
}

.weather__info__img{
    width: 60%;
    height: 30%;
}

.weather__info__temp>*{
    margin-top: 0;
}


h1,h2,h3,label{
    color: var(--header);
}

